body{
    background-color: rgba(81, 8, 120, 0.704);
    color: aliceblue;
    
    text-align: center;

   
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    font-size: 1.6em;
   
}
#reset{
    display: none;
    width: 100px;
    height: 60px;
}
#span1, #span2{
    font-size: larger;

}